* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  background-color: rgba(7, 1, 80, 0.87);
  text-align: center;
}
main {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  border-radius: 1rem;
  outline: none;
  height: 2rem;
  width: 10rem;
  padding-left: 1rem;
}
button {
  height: 2.2rem;
  width: 9rem;
  border-radius: 0.8rem;
  cursor: pointer;
  border: none;
}
p {
  color: white;
  margin: 2rem 0 0 0;
  font-weight: 100;
  font-size: 1.5rem;
  display: none;
}
main {
  display: flex;
  flex-direction: column;
  height: 30rem;
}
h1 {
  margin-top: 5rem;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 1.7em;
  height: 1.7em;
  animation-fill-mode: both;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  display: block;
  color: #ffffff;
  font-size: 10px;
  margin: 4rem auto 0;
  position: relative;
  text-indent: -9999em;
  animation-delay: -0.16s;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
